<h1 class="text-2xl font-bold">Results</h1>

<h2 class="text-xl">Stats</h2>
<table>
  <tr>
    <td>Start date</td>
    <th><%= @election.start_date %></th>
  </tr>
  <tr>
    <td>End date</td>
    <th><%= @election.end_date %></th>
  </tr>
  <tr>
    <td>Total votes</td>
    <th><%= @election.votes.count %></th>
  </tr>
</table>

<div data-controller="results">
  <h2 class="text-xl font-bold mb-4">Votes</h2>

  <div class="mb-4">
    <button data-action="results#toggle" class="items-center w-64 h-[2.5rem] sm:h-12 border rounded cursor-pointer bg-gray-300 hover:bg-gray-500 p-2">
      <span class="mx-auto" data-results-target="label">Show Abstain Votes</span>
    </button>
  </div>

  <div class="grid grid-cols-8 space-y-4 space-x-1 md:space-x-2">
    <% @election.candidates.each do |c| %>
      <%= render partial: 'candidate_result', locals: { candidate: c } %>
    <% end %>
  </div>
</div>

<h2 class="text-xl">Feedback</h2>

<% if current_user == "cschuijt" || current_user == "mnijsen" %>
  <%= render partial: 'feedback', locals: { election: @election } %>
<% else %>
  <p class="italic text-gray-700">
    Feedback is private and only shown to the council that
    organized this election.
  </p>
<% end %>
