<h1>Elections#show</h1>
<p>Find me in app/views/elections/show.html.erb</p>

<h1><%= @election.start %></h1>
<h1><%= @election.end %></h1>

<p>
  <%= link_to "Add candidate", new_election_candidate_url(@election), data: { turbo_frame: "new_candidate" } %>
</p>

<h2>Candidates</h2>
<%= turbo_frame_tag "election_candidates" do %>
  <% @election.candidates.each do |c| %>
    <%= turbo_frame_tag c do %>
      <p>
        <%= render c %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag "new_candidate" do %>
<% end %>
