<%= form_with model: vote do |f| %>
  <h2 class="text-4xl font-bold mb-4">Candidates</h2>
  <%= f.fields_for :candidate_votes do |cf| %>
    <div class="mb-4 flex items-center space-x-4 justify-between">
      <%= cf.hidden_field :candidate_id %>
      <%= image_tag cf.object.candidate.photo_url, class: "rounded", style: "color:transparent", alt: cf.object.candidate.full_name, width: 100, height: 100, loading: "lazy", decoding: "async" %>
      <div class="">
        <h3 class="text-xl font-semibold"><%= cf.object.candidate.full_name %></h3>
        <p class="text-gray-600">
          <%= cf.object.candidate.username %>
          <% unless cf.object.candidate.focus_area.blank? %>
            | <%= cf.object.candidate.focus_area %>
          <% end %>
        </p>
        <div class="flex items-center space-x-4 mt-2" data-controller="votes">
          <%= cf.label :in_favor_yes, class: "flex items-center w-16 h-[2.5rem] sm:w-24 sm:h-12 border rounded cursor-pointer border-green-500 text-green-500 hover:bg-green-100", data: { "votes-target": "yes" } do %>
            <%= cf.radio_button :in_favor, "yes", class: "hidden", data: { action: "votes#toggleYes" } %>
            <span class="mx-auto">Yes</span>
          <% end %>
          <%= cf.label :in_favor_no, class: "flex items-center w-16 h-[2.5rem] sm:w-24 sm:h-12 border rounded cursor-pointer border-red-500 text-red-500 hover:bg-red-100", data: { "votes-target": "no" } do %>
            <%= cf.radio_button :in_favor, "no", class: "hidden", data: { action: "votes#toggleNo" } %>
            <span class="mx-auto">No</span>
          <% end %>
          <%= cf.label :in_favor_abstain, class: "flex items-center w-16 h-[2.5rem] sm:w-24 sm:h-12 border rounded cursor-pointer border-gray-500 text-gray-500 hover:bg-gray-200", data: { "votes-target": "abstain" } do %>
            <%= cf.radio_button :in_favor, "abstain", class: "hidden", data: { action: "votes#toggleAbstain" } %>
            <span class="mx-auto">Abstain</span>
          <% end %>
        </div>
        <% cf.object.errors.each do |e| %>
          <div class="w-full text-red-700 text-sm mt-2">
            <%= e.message %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= f.text_area :feedback, class: "w-full p-2 border rounded mt-4", placeholder: "Leave any additional feedback here (optional)" %>

  <p class="w-full p-2 mt-4 text-gray-600">
    Press the button below to save your vote. Be careful, you will not be able to edit it later!
  </p>

  <%= f.submit "Cast Vote", class: "mt-4 px-4 py-2 bg-blue-500 text-white rounded" %>
<% end %>
